body{
    background-color: rgb(196, 219, 219);
}

.distro{
    width: 8.5%;
    height: 8.5%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-bottom: 2%;
    border-radius: 100%;
    transition: transform 0.5s ease;
}

.distro:hover {
    transform: scale(1.08);
}

.titulo{
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
    font-weight: 800;
    color: rgb(22, 22, 22);
}

.hr{
    border: 1px solid rgb(193, 196, 212);
}

.sub{
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    color: rgb(39, 39, 39);
}

.container {
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #adc9cc;
}

li {
    float: left;
}

li a {
    display: block;
    padding: 14px 16px;
}

.a {
    display: block;
    color: rgb(71, 71, 71);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.a:hover {
    background-color: #9cc7c1;
}

.cathegory{
    align-self: center;
    margin-left: 5%;
    margin-right: 5%;
}

.imgcont{
    text-align: center;
}

.imgcont2{
    text-align: center;
}

.item{
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
}

.container2{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;

}

.img3{
    margin-bottom: -10%;
}